
.big{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: rgb(180, 108, 12);
    text-align: center;
    border-radius: 4em;
    
}
.border {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: #3c4709;
}
.small_head {
    text-shadow: hsl(0, 0%, 5%);
    font-size: 30px;
    color: #000000;
    border-radius: 3em;
 }
 .fo2{
    font-family: monospace sans-serif;
 }
.ita {
text-decoration: #7090d3;
}
.upp {
    text-transform: uppercase;
}
.ln {
    text-decoration: dashed;
}
h2 {
    text-transform:uppercase;
    color: rgb(243, 0, 101);
    border-style: dotted;

    
}
