

.hl {
  height: fit-content;
  width: 500px;
  color: black;
  background-color: aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4em;
  font-style: oblique;
  text-align: center;
 
  
}
.li {
font-family: 'Times New Roman', Times, serif;
font-size: 2em;
color: rgb(192, 6, 136);
  }
  .mar2 {
    margin-left: 400px;
    margin-bottom: 30px;
    padding: 10px;
    border-color: brown;
    border-radius: 20px;
  }
.border {
    border-style: solid;
    border: 50px;
    border-color: rgb(0, 85, 212);
}
ul {
  text-align: center;
  margin: auto 5em;
  border: 2px solid blue;
  padding: 5em;
}
